body {
    
    /* background-image: url("jj.jpg"); */
    background-color: white
}

h2{
 font-family: Century Gothic, sans-serif;
 font-size: 70px;
 line-height: 75px;
 color: white;
}

h1 {
    font-family: Garamond, Baskerville, 'Baskerville Old Face', 'Hoefler Text', 'Times New Roman', serif;
    font-size: 23px;
    font-style: normal;
    font-variant: normal;
    font-weight: 500;
    line-height: 23px;
    color: white;
}
h3 {
    font-family: Garamond, Baskerville, 'Baskerville Old Face', 'Hoefler Text', 'Times New Roman', serif;
    font-size: 17px;
    font-style: normal;
    font-variant: normal;
    font-weight: 500;
    line-height: 23px;
    color: white;
}
p {
    font-family: Garamond, Baskerville, 'Baskerville Old Face', 'Hoefler Text', 'Times New Roman', serif;
    font-size: 23px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 23px;
    color: white;
}

.navbar-custom{
	background-color: #cc0000;
}
.navbar-custom .navbar-nav > li > a {
    font-family: 'Cardo', Georgia, Times, serif;
    color:#fff;
}
.navbar-custom .navbar-nav > li > a:hover,
.navbar-custom .navbar-nav > li > a:focus {
    color:  #260126;
}

.navbar-custom > a:hover{
    background-color: #ff6666;
}

.navbar-custom .navbar-brand {
	font-family: 'Allan', Helvetica, Arial, sans-serif;
    color:#eeeeee;
}

.index_txt {
 background-color: #824a59;
 border-color: #824a59;
 }

.portfolio-thumbnail {
 background-color: red;
 border-color: red;
 }

.portfolio-thumbnail:hover{
    background-color: #ff6666;
    border-color: #ff6666;
}

 .jumbotron {
  background-color: red;
  text-align: right;
  opacity: 0.50;
 }
 .jumbotron h2 {
 	font-size: 70px;
 	color:#fff;
 }
.jumbotron h3 {
    font-size: 50px;
    color: #fff
    ;
}
 }
 .jumbotron p {
 	font-size: 24px;
 	color:#fff;
 }

 .menu{
    color:white;
 }
 .glyphicon-menu-hamburger{
    color:white;
 }
 .Resume-box {
 background-color: red;
 border-color:red;
 }

 .Resume-box h3{
    font-size: 30px;
    text-align: center;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
    padding-right: 5px;
 }
 .Resume-box h4{
font-size: 24px;
color: white;

padding-left: 5px;
padding-right: 5px;
 }
 .Resume-box ul{
    font-size: 18px;
    color: white;
    padding-bottom: 10px;
 }