body {
    
    background-color: #c08a81;
}

h2{
 font-family: 'Allan', Helvetica, Arial, sans-serif;
 font-size: 70px;
 line-height: 75px;
 color: white;
 padding-left: 20px;
padding-right: 20px;
}

h3{
 font-family: 'Allan', Helvetica, Arial, sans-serif;
 font-size: 40px;
 line-height: 75px;
 color: white;
 padding-left: 20px;
padding-right: 20px;
}

p {
 font-family: 'Cardo', Georgia, Times, serif;
 font-size: 21px;
 line-height: 25px;
 color: white;
 padding-top: 10px;
 padding-bottom: 10px;
padding-left: 25px;
padding-right: 20px;
}

.navbar-custom{
	background-color: #260126;
}
.navbar-custom .navbar-nav > li > a {
    font-family: 'Cardo', Georgia, Times, serif;
    color:#fff;
}
.navbar-custom .navbar-nav > .active > a, .navbar-nav > .active > a:hover, .navbar-nav > .active > a:focus {
    color: #59323C;
    background-color: #59323C;
    }
.navbar-custom .navbar-brand {
	font-family: 'Allan', Helvetica, Arial, sans-serif;
    color:#eeeeee;
}

.index_txt {
 background-color: #824a59;
 border-color: #824a59;
 }

.portfolio-thumbnail {
 background-color: #824a59;
 border-color: #824a59;
 }

 .jumbotron {
  background-color: #59323C;
  text-align: center;
  color:#fff;
  opacity: 0.6;
 }
 .jumbotron h2 {
 	font-size: 70px;
 	color:#fff;
 }
.jumbotron h3 {
    font-size: 50px;
    color: #fff
    ;
}
 }
 .jumbotron p {
 	font-size: 24px;
 	color:#fff;
 }

 .menu{
    color:white;
 }
 .glyphicon-menu-hamburger{
    color:white;
 }
 .Resume-box {
 background-color: #824a59;
 border-color:#824a59;
 }

 .Resume-box h3{
    text-align: center;
    color: white;
    padding-bottom: 10px;
    padding-left: 5px;
    padding-right: 5px;
 }
 .Resume-box h4{
font-size: 24px;
color: white;
padding-bottom: 10px;
padding-left: 5px;
padding-right: 5px;
 }
 .Resume-box ul{
    font-size: 18px;
    color: white;
    padding-bottom: 10px;
 }